<%- include("header") -%>
    <div class="box" id="heading">
        <h1>The Solent Hackathon</h1>

    </div>
    <p>“Solent Hackathon” which is a fictitious hackathon event in which teams of coders will compete to make the best application. The theme for the hackathon is “the environment” – so teams will be looking to develop apps to help with environmental issues</p>

    <h2>The Aim</h2>
    <p>A website where you can find the Details about teams Which are participating in hackathon</p>
    <h2>How It work</h2>
    <p>
        1. You can find the details of all teams . <br>
        2. You can also update the information about the already existing teams.<br>
        
        3. If you want to find the details of a specific teams, you can find 
        <br> This using their ID number.
        
    </p>

<%- include("footer") -%>